body{
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.bg-black 
{
  background-color: black !important;
}

.bg-grey
{
  background-color: 	#666666 !important ;
}

.bg-darkgrey
{
  background-color: #333333 !important;
}

.bg-lightgrey{
  background-color: #e2e2e2 !important;
}
.text-grey
{
  color: #939393

}

.left-text{
  text-align: left !important;
}

.fs-10 
{
    font-size: 10px;
}

.big-checkbox{
  scale: 1.5;
}

.btn-glow{
  border-radius: 0px;
}

.btn-glow:hover{
  background-color: white !important;
  color: black;
}

.input-name {
  border-radius: 0px !important;
}

.dropdown-toggle{
  border-radius: 0px !important;
}

.checkbox-border{
  border-radius: 0px !important;
}